{% extends "layout.html" %}
  {% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{params['about_text']}}. <br>
          Our blog gives the inspiration to other how to people should servive their life by reading the poetry.
          people can refresh their mind by reading the poetry in regular way.
        </div>
      </div>
    </div>
{% endblock %}